if SHIELD_PAW_LEFT

config ZMK_POINTING
    default y

config PAW3222
    default y
config ZMK_KEYBOARD_NAME
	default "Lunar Dust"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_PAW_LEFT || SHIELD_PAW_RIGHT

config ZMK_SPLIT
	default y
	
config ZMK_POINTING
    default y

config PAW3222
    default y
endif